<tr id="<%= group.identity %>">
	<td>
		<%= link_to_remote group.group_name, :url=>show_links_super_simple_groups_path(:id=>group.id), :update=>"show_links" %>	
	</td>
	<td>
		<%=link_to_remote('edit',:update=>group.identity,
								  	 :position=>:after,
								  	 :complete=>update_page{|page| page.remove(group.identity)},
								  	 :url=>edit_super_simple_group_path(group), 
								  	 :method=>:get) %>
							
		<%=link_to_remote('-',:success=>update_page{|page| page.visual_effect(:fade, group.identity)},
							  :url=>super_simple_group_path(group), 
							  :method=>:delete,
							  :confirm=>"Are you sure you want to delete this group?",
							  :failure=>"alert('Could not remove this group')") %>
	</td>
</tr>