<h3>Showing links for <%= @group.group_name %></h3>
<ul id="groups_reorder"> 
<% @group.links.each do |link| %> 
	<li id="link_<%= link.id %>"> 
		<%= link.title %>  
	</li> 
<% end %> 
</ul> 

<%= sortable_element 'groups_reorder', :url => sort_links_super_simple_groups_path(:group_id=>@group.id), :complete => visual_effect(:highlight, 'groups_reorder') %> 
